# exclude working paths
__mocks__
.backup/
.coverage/
.vscode/
.work/
node_modules/
tests/
src/

# prettier essentials
dist/node_modules/prettier/bin/
dist/node_modules/prettier/internal/
dist/node_modules/prettier/plugins/
dist/node_modules/prettier/README.md
dist/node_modules/prettier/THIRD-PARTY-NOTICES.md
dist/node_modules/prettier/**/*.mjs
dist/metafile.json

# readme asset is online
assets/images/readme.png

# exclude source files
**/*.ts
**/*.map
**/*.zip
**/*.vsix

# exclude root files
DOCBLOCK.md
DEVELOPMENT.md
tsconfig.json
.gitignore
*.code-workspace
*.js
